/* You can add global styles to this file, and also import other style files */
/* Global Styles */

body {
  margin-top: 100px;
  background-color: #fff;
}

@media(min-width:768px) {
  body {
    margin-top: 50px;
  }
}

div#wrapper{
  margin-right: 20px;
}

#wrapper {
  padding-left: 0;
  margin-right: 20px;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

.huge {
  font-size: 50px;
  line-height: normal;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 10px;
  }
}

/*tabbed panel styles*/

/* Default mode */

/* Tabs panel */
.tabbable-panel {
  border:1px solid #dddddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
