<div class="col-md-6">
  <h2>Register</h2>
  <form name="form" #registerForm="ngForm" (ngSubmit)="registerForm.valid && register()" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': firstName.touched && !firstName.valid }">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
      <div *ngIf="firstName.touched && !firstName.valid" class="help-block">First Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': dateOfBirth.touched && !dateOfBirth.valid }">
      <label for="dateOfBirth">Date of Birh</label>
      <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="model.dateOfBirth" #dateOfBirth="ngModel" required/>
      <div *ngIf="dateOfBirth.touched && !dateOfBirth.valid" class="help-block">Date of birth is required</div>
    </div>

    <div class="form-group">
      <span style="font-weight: bold">I'm a </span>
      <div class="genderSelect form-control ">
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male" name="Gender" [(ngModel)]="model.gender"><i
          class="fa fa-male fa-2x" style="color: blue" aria-hidden="true"></i>
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female" name="Gender" [(ngModel)]="model.gender"><i
          class="fa fa-female fa-2x" style="color: deeppink" aria-hidden="true"></i>
        </label>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': username.touched && !username.valid }">
      <label for="userName">User Name</label>
      <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="username.touched && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': password.touched && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="password.touched && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Register</button>
      <a class="btn btn-link" (click)="cancel()">Cancel</a>
    </div>
  </form>
</div>
